{% extends 'layout.html' %}

{% block body %}
<p class="text-justify">
<h3 style="color :crimson">Hello User!<br>
    Welcome to ChatSocket : The realtime chatting app using WebSockets.</h3>
<h5 style="color :blue">Please sign up to start chatting. <br> If you are an existing user then please proceed to login .</h5></p>
<br><br>
<center><button class="btn btn-primary" id="sign_up" onclick="location.href='/sign_up'">Sign Up</button></center>
<br>
<center><button class="btn btn-primary" id="login" onclick="location.href='/login'">&nbspLogin&nbsp</button></center>{% endblock %}